<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>調整偵測範圍</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
</head>
<body>
    <h1>調整偵測範圍</h1>

    <div style="position: relative; display: inline-block;">
        <img id="image" src="{{ url_for('static', filename='setting_pitcure.jpg') }}" style="width: 960px; display: block;">
        <canvas id="canvas" style="position: absolute; top: 0; left: 0;"></canvas>
    </div>

    <form action="/submit" method="POST">
        <label for="x" style="color:red">X:</label>
        <input type="range" id="x" name="x" min="0" max="1280" value="730" oninput="updateSettings()">
        <span id="x_val">730</span>
        <br>
        <button type="submit">提交</button>
    </form>

    <script src="../static/js/setting.js"></script>
</body>
</html>
