<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>處理後的影片</title>
</head>
<body>
    <h1>處理後的影片</h1>
    <video controls width="500">
        <source src="{{ url_for('static', filename='video/output.mp4') }}" type="video/mp4">
        您的瀏覽器不支援播放此影片。
    </video>
    <br>
    <br>
    <br>
    <video controls width="500">
        <source src="{{ url_for('static', filename='video/output_front.mp4') }}" type="video/mp4">
        您的瀏覽器不支援播放此影片。
    </video>
</body>
</html>
